<div id="advisory"></div>
<div class="content-body about">
    <div class="subpage-header">
        <div class="header-title">Capabilities & Services</div>
        <div class="background-img-container">
            <div class="texture-overlay"></div>
            <div class="gradient-overlay"></div>
            <div class="parallax-backimg" back-img="images/services.jpg"></div>
        </div>
    </div>

    <div class="section">
        <div class="section-header">
            <h2>Advisory</h2>
        </div>
        <div class="section-header-underline"></div>
        <div class="section-content">
            Our audits and assessments of information systems and resources provide an independent and objective examination of an organization’s records and 
            activities to assess (1) the adequacy of their controls to ensure compliance with established laws and regulatory requirements, 
            and (2) the effectiveness of organizational policies and procedures. Our Governance, Risk, and Compliance (GRC) experts are 
            not your typical “IT Geeks” that are just completing a checklist. Our GRC experts follow an integrated and forward-thinking 
            approach to help organizations make the right strategic and management decisions in a resource-constrained and complex business environment. 
            Our advisory services include: 

            <ul class="section-content-list">
                <li><i class='material-icons'>&#xE86C;</i> FITARA</li>
                <li><i class='material-icons'>&#xE86C;</i> FISMA</li>
                <li><i class='material-icons'>&#xE86C;</i> OMB Circular A-130 (Managing Federal Information Resources)</li>
                <li><i class='material-icons'>&#xE86C;</i> OMB Circular A-123 (Internal Control)</li>
                <li><i class='material-icons'>&#xE86C;</i> OMB Circular A-11 (Capital Planning and Investment Control (CPIC))</li>
                <li><i class='material-icons'>&#xE86C;</i> Privacy/Identity Theft</li>
                <li><i class='material-icons'>&#xE86C;</i> COBIT</li>
                <li><i class='material-icons'>&#xE86C;</i> NIST Cybersecurity Framework</li>
                <li><i class='material-icons'>&#xE86C;</i> NIST SP 800-171 Compliance</li>
            </ul>
        </div>
    </div>

    <div id="cyber"></div>
    <div class="section">
        <div class="section-header">
            <h2>Cybersecurity</h2>
        </div>
        <div class="section-header-underline"></div>
        <div class="section-content">
            Our cybersecurity services are based on the National Institute of Standards and Technology (NIST) Risk Management Framework (RMF) for federal, state, and local governments. 
            For our private sector customers, our services are based on the Center for Internet Security (CIS) Controls and the NIST Cybersecurity Framework. Unlike other cybersecurity 
            practitioners, our “Cyber Smart Pros” recognize there is much more to achieving security than documenting compliance with a particular framework or  bolting on another tool 
            into you security architecture. These quick fixes are like giving patients placebos to make them feel good for a little while. Because our experts take a technology agnostic 
            approach to implementing an organization-wide information-security (Infosec) or Information Assurance (IA) program, we help organizations implement holistic and smarter 
            solutions that are tailored to their unique needs and challenges. To protect organizations from a growing variety of cyber threats and cyber crime, our cybersecurity services include:

            <ul class="section-content-list">
                <li><i class='material-icons'>&#xE86C;</i> Security Program Implementation</li>
                <li><i class='material-icons'>&#xE86C;</i> Security Policy Development</li>
                    <li><i class='material-icons'>&#xE86C;</i> Disaster Recovery Planning</li>
                    <li><i class='material-icons'>&#xE86C;</i> Security Awareness Training and Education</li>
                    <li><i class='material-icons'>&#xE86C;</i> Cyber Hygiene Assessments</li>
                    <li><i class='material-icons'>&#xE86C;</i> Confidential Unclassified Information (CUI) Assessments (NIST
                        SP 800-171)</li>
                    <li><i class='material-icons'>&#xE86C;</i> System Security Plan (SSP) Development</li>
                    <li><i class='material-icons'>&#xE86C;</i> Security Control Assessments</li>
                    <li><i class='material-icons'>&#xE86C;</i> Continuous Monitoring</li>
                    <li><i class='material-icons'>&#xE86C;</i> Certification &amp; Accreditation (C&amp;A)</li>
                    <li><i class='material-icons'>&#xE86C;</i> Assessment &amp; Authorization (A&amp;A)</li>
                    <li><i class='material-icons'>&#xE86C;</i> Cloud/FedRAMP</li>
                    <li><i class='material-icons'>&#xE86C;</i> Plan of Action and Milestones (POAM)</li>
                    <li><i class='material-icons'>&#xE86C;</i> Remediation Actions</li>
                    <li><i class='material-icons'>&#xE86C;</i> Risk Vulnerability Assessments (RVA)</li>
                    <li><i class='material-icons'>&#xE86C;</i> Vulnerability Scanning</li>
                    <li><i class='material-icons'>&#xE86C;</i> Penetration Testing</li>
            </ul>
        </div>
    </div>

    <div id="software"></div>
    <div class="section">
        <div class="section-header">
            <h2>Software Development</h2>
        </div>
        <div class="section-header-underline"></div>
        <div class="section-content">
            Developing good software is about more than writing code that works. Because our experts know various software development methodologies (Scrum, Kanban, Extreme Programming, DevOps, Waterfall, etc.),
             we build code that works and does what our customers want. To deliver what our customer wants, requires an agile and lean mindset. We define good software by how well it helps our customer do three 
             things: (1) deliver better or new services to their own customers, (2) make their processes more efficient, and (3) produce a cost savings (i.e. require fewer people or less money to operate). 
             We call it “do more quicker for less” and that is just what we help our customers do. Our agile software development software include: 

            <ul class="section-content-list">
                <li><i class='material-icons'>&#xE86C;</i> Project Management</li>
                <li><i class='material-icons'>&#xE86C;</i> Requirements Analysis</li>
                <li><i class='material-icons'>&#xE86C;</i> Design and Data Modeling</li>
                <li><i class='material-icons'>&#xE86C;</i> Development and Programming</li>
                <li><i class='material-icons'>&#xE86C;</i> IV&amp;V, Software Quality Assurance, and Software Testing</li>
                <li><i class='material-icons'>&#xE86C;</i> Business Process Reengineering (BPR)</li>
                <li><i class='material-icons'>&#xE86C;</i> Data Conversion and Data Migration</li>
            </ul>
        </div>
    </div>
</div>
