<div class="content-body clients" ng-controller="ClientsPage as cc">
    <div class="subpage-header">
        <div class="header-title">Key Clients</div> 
        <div class="background-img-container">
            <div class="texture-overlay"></div>
            <div class="gradient-overlay"></div>
            <div class="parallax-backimg" back-img="images/teamwork.jpg"></div>
        </div>       
    </div>

    <div class="content-container content-text">
       At <span class="bold">Cyber Smart Pros, LLC</span> we have one priority: solve the customer's problem. Simply put, helping our clients to succeed is the most important thing we do. Adhering to our ethos "Succeed, First By Helping Others to Succeed!" is our secret sauce for building customer relationships. We remove "us" and "them" from the conversation, so that everyone wins - in doing so we accomplish our vision - customers that think of us as an integral part of their team.
    </div>

    <!-- Home Carousel -->
    <div class="carousel-container keyclients">               
        <ui-carousel slides="cc.slides" slides-to-show="3" slides-to-scroll="3" autoplay="true" arrows="false" autoplay-speed="10000" dots="true">
            <carousel-item>                
                <div class="item-content">                    
                    <img src="{{item.img}}">
                    <div class="item-title-container"><div class="item-title"><a href="{{item.url}}" target="_blank">{{ item.title }}</a></div></div>
                </div>                
            </carousel-item>            
        </ui-carousel>
    </div>
</div>