<div class="content-body clients" ng-controller="ClientsPage as cc">
    <div class="subpage-header">
        <div class="header-title">Clients</div> 
        <div class="background-img-container">
            <div class="texture-overlay"></div>
            <div class="gradient-overlay"></div>
            <div class="parallax-backimg" back-img="images/teamwork.jpg"></div>
        </div>       
    </div>

    <div class="content-container content-text">
       At <span class="bold">Cyber Smart Pros, LLC</span> we have one priority: solve the customer's problem. Living by our motto, "We succeed by first helping others to succeed!", is our Pros’ secret sauce for removing barriers while fostering collaboration, innovation and agility. The result are customers who think of Cyber Smart Pros as an integral part of their team.
    </div>

    <!-- Home Carousel -->
    <div class="carousel-container keyclients">               
        <ui-carousel slides="cc.slides" slides-to-show="3" slides-to-scroll="3" autoplay="true" arrows="false" autoplay-speed="10000" dots="true">
            <carousel-item>                
                <div class="item-content">                    
                    <img src="{{item.img}}">
                    <div class="item-title-container"><div class="item-title"><a href="{{item.url}}" target="_blank">{{ item.title }}</a></div></div>
                </div>                
            </carousel-item>            
        </ui-carousel>
    </div>
</div>