<style>
    #map {
        height: 400px;
        width: 100%;
    }
</style>

<div class="section">
    <div class="section-header">
        <h2>Cyber Smart Pros Headquarters</h2>
    </div>
    <div class="section-header-underline"></div>
    <div class="section-map">
        <div class="contactus">
            <div><i class="material-icons">&#xE0C8;</i> 9999 Main St. Washington, DC, 99999, US</div>
            <div><i class="material-icons">&#xE0D0;</i> info@cybersmartpros.com</div>
            <div><i class="material-icons">&#xE0CF;</i> 703-678-9053</div>
        </div>
        <div id="map"></div>
    </div>
</div>


<script>
    function initMap() {
        var uluru = { lat: 	38.889931, lng: -77.009003};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: uluru
        });
        var marker = new google.maps.Marker({
            position: uluru,
            map: map
        });
    }

</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCuwkRt4Mde-XNOF3vBESuIikYAiTF4gCg&callback=initMap">

</script>
</script>