<div class="content-body about">
    <div class="subpage-header">
        <div class="header-title">Executive Team</div> 
        <div class="background-img-container">
            <div class="texture-overlay"></div>
            <div class="gradient-overlay"></div>
            <div class="parallax-backimg" back-img="images/business-seated2.jpg"></div>
        </div>       
    </div>

    <div class="content-container executive-team">
        <div class="row-layout" layout="row" layout-xs="column">
            <div class="row-column" flex>
                <img class="circular_img" src="images/bJordan_01.png">
            </div>
            <div class="row-column size-2 bio" flex>
                <p><span class="bold">Boykin  B. Jordan, Jr.</span>,  is the founder and President of Cyber Smart Pros, LLC. Mr. Jordan is a seasoned Information Technology (IT) executive with 33 years of experience.</p>
                    
                <p>He started his IT career with the United States Air Force. During his successful 26-year military career, he served as a Chief Information Officer (CIO) providing enterprise IT services to over 9,000 users and was awarded a Bronze Star for his service in Operation Iraqi Freedom.  For his second career, Mr. Jordan chose to be an entrepreneur and active in his community. He has formed a 501(c)(3) non-profit and served as the President of his homeowners’ association.  
                    
                <p>Mr. Jordan received his bachelors degree from The Citadel. He has two masters degrees. One from Webster University and the second from the National Defense University’s iCollege.</p>

                <p>Mr. Jordan’s current professional certifications include the Certified Information System Security Professional (CISSP), Certified Information Systems Auditor (CISA), and Project Management Professional (PMP). He has been happily married to his high school sweetheart, Bonita, for the last 33 years.</p>

                <div class="certificates row-layout" layout="row" layout-xs="column">                    
                    <div class="row-column" flex>
                        <img src="images/logos/cissp-logo.png">
                    </div>

                    <div class="row-column" flex>
                        <img src="images/logos/cisa.png">
                    </div>

                    <div class="row-column" flex>
                        <img src="images/logos/Professional-Engineer.png">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>