<div class="content-body home" ng-controller="HomePage as cc">
    <!-- Home Carousel -->
    <div class="carousel-container">
        <div class="back-title"><img src="images/logos/Cyber-Smart-Pros-logo.png"><div>Cyber Smart Pros</div></div>        
        <ui-carousel slides="cc.slides" slides-to-scroll="1" autoplay="true" autoplay-speed="7000" dots="false">
            <carousel-item>                
                <div class="item-image">
                    <div class="texture-overlay"></div>
                    <div class="color-overlay"></div>
                    <img src="{{item.img}}">
                </div>
                <div class="cover-text-box">
                    <div class="box-title">{{item.title}}</div>
                    <p class="box-text">{{item.text}}</p>
                </div>
            </carousel-item>

            <carousel-prev>
                <i class="material-icons">chevron_left</i>
            </carousel-prev>

            <carousel-next>
                <i class="material-icons">chevron_right</i>
            </carousel-next>
        </ui-carousel>
    </div>
    
    <!-- Section 1 -->
    <div class="content-container">
        <div class="row-layout" layout="row" layout-xs="column">
            <div class="row-column" flex>
                
                <!-- Computer -->
                <div class="css-object css-computer screen">
                    <div class="content">
                        <div class="pg">
                        <ul class="btns">
                            <li ng-repeat="i in cc.getNumber(3) track by $index"></li>
                        </ul>
                        <ul class="txt">
                            <li ng-repeat="i in cc.getNumber(2) track by $index"></li>
                            <li class="thin" ng-repeat="i in cc.getNumber(3) track by $index"></li>
                        </ul>
                        </div>
                    </div>
                    <div class="base">
                        <div class="grey-shadow"></div>
                        <div class="foot top"></div>
                        <div class="foot bottom"></div>
                        <div class="shadow"></div>
                        <div class="keyboard">
                        <div class="btm"></div>
                        <ul class="keys">
                            <li ng-repeat="i in cc.getNumber(4) track by $index"></li>
                        </ul>
                        <div class="shadow"></div>
                        </div>
                    </div>
                </div>

                <!-- Mobile -->
                <div class="css-object css-phone">
                    <div class="screen">
                        <div class="content">
                        <ul class="txt">
                            <li ng-repeat="i in $ctrl.getNumber(3) track by $index"></li>
                        </ul>
                        </div>
                    </div>

                    <div class="shadow"></div>
                </div>
            </div>
            <div class="row-column" flex>
                <div class="content-title add-line">
                    <div class="title-txt">Some Words About Us</div>
                    <div class="line"><hr></div>
                </div>
                <div class="content-text">
                    We provide information technology and management consulting services to federal, state, and local governments as well as private sector companies. Our core competencies include advisory, cybersecurity, and software development services. We are a minority-owned business and a verified Service Disabled Veteran Owned Small Business (SDVOSB).
                </div>
            </div>
        </div>
    </div>
    <!-- Section 2 -->
    <div class="content-container">
        <div class="background-img-container">
            <div class="texture-overlay"></div>
            <div class="gradient-overlay"></div>
            <div class="parallax-backimg" back-img={{cc.dividerImg}}></div>
        </div>
        <div class="service-area-container">
            <div class="content-title"><div class="title-txt">Our Services</div></div>
            <div class="row-layout" layout="row" layout-xs="column">
                <div class="row-column" flex ng-repeat="service in cc.services">
                    <a href="{{ service.url }}" class="service-container">
                        <div class="service-icon"><i class="material-icons">{{service.icon}}</i></div>
                        <div class="service-title">{{ service.title}}</div>
                        <div class="service-text">{{ service.text}}</div>
                    </a>
                </div>            
            </div>
        </div>
    </div>
    <!-- Section 3 -->
    <div class="content-container">
        <div class="content-title add-line">
            <div class="title-txt">Latest News</div>
            <div class="line"><hr></div>
        </div>
        <div class="news-carousel-container">        
            <ui-carousel slides="cc.latestNews" slides-to-scroll="1" autoplay="true" autoplay-speed="7000" dots="false">
                <carousel-item>                                    
                    <div class="news-text-box">                        
                        <p class="news-text"><span>"</span>{{item.text}} ...<span>"</span></p>
                        <p class="new-date">{{ item.date | date: 'MMMM, yyyy'  }}</p>
                    </div>
                </carousel-item>

                <carousel-prev>
                    <i class="material-icons">chevron_left</i>
                </carousel-prev>

                <carousel-next>
                    <i class="material-icons">chevron_right</i>
                </carousel-next>
            </ui-carousel>
        </div>
    </div>
</div>