.about {
    .content-container {              
        .cetification-container { 
            background: @color3-fade;           
            .row-column {
                height: 100px;
                padding: 10px;
                img { height: 100%;}                
            }
        }
        .content-list-row {
            padding: 10px 0px 50px;
            .list-row-title { 
                display: block;
                padding-bottom: 5px;                
                i { 
                    display: inline-block;                
                    width: 50px;
                    height: 50px;
                    color: @color4;            
                    border: solid 2px @color4;
                    border-radius: 50%;
                    vertical-align: top;
                    text-align: center;
                    font-size: 25px;
                    line-height: 50px;
                    transition: 0.5s all ease-in-out;
                }
                span { padding-left: 10px; font-size: 2rem; color: @color4;}
            }
            .list-row-text { padding-left: 60px; font-size: 1.2rem; }
            .list-row-list {
                padding-left: 60px;
                font-size: 1.2rem;
                .list-item { 
                    span { font-weight: bold; color: @color2; }
                    &+.list-item { padding-top: 10px;}
                }                
            }
        }
    }
}